@import 'globalVariables';

nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 12px;
    letter-spacing: .5px;
      cursor: pointer;
    

    @media only screen and (max-width: 450px) {
      width: 300px
    }

}



#game-container {
  width: 400px;
   @extend .absolute-center;
   

   @media only screen and (max-width: 450px) {
    width: 300px
  }
}

.game-container {
  display: flex;
  flex-direction: column;
}

#game-board {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  cursor: pointer;
  place-items: center;
  margin-top: 5vmin;
  @media only screen and (max-width: 450px) {
    height: 300px
  }
}

.game-tile {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  position: relative;
  background: none;
 
}

.empty-space {
  height: 50%;
  width: 50%;

  @extend .absolute-center;
  border-radius: 8px;
  z-index: -99;
}

.color-tiles {
  display: grid;
  @extend .padding;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 45px;
  position: relative;
  cursor: pointer;
  place-items: center;
 
}

.color-tile {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  position: relative;
 

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10%;
    width: 10%;
    border-radius: 2px;
    background: $dark-scnd-white;
    z-index: -33;
  }
}

.message {
  text-align: center;
 
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#reset {
  padding: 4vmin 12vmin;
  
  margin: 0 auto;
  border-radius: 500px;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-weight: bold;
  border-width: 1px;
  background: $dark-scnd-white
  
}

.user-controls {
  display: flex;
  width: 400px;
  justify-content: space-between;
  color: $dark-scnd-white;
  margin: 1.5vmin 0 8vmin 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  align-items: flex-end;


}

.refresh-board {
  background: $dark-light-grey;
  border-radius: 100%;
  padding: 1vmin;
  cursor: pointer;
  
  @extend .flex-ctr;
  svg {
    height: 2vmin;
    width: 2vmin
  }
}

.grow-shrink {
  animation: grow-shrink 0.25s linear;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

