@import "globalVariables";

body {
  background: $dark-black;
  margin: 0 auto;
  height: 100vh;
  font-family: "Monserrat", sans-serif;
  color: $dark-scnd-white;
  max-width: 400px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "nav" "msg" "game";
  grid-gap: 32px;
  @media screen and (max-width: 450px) {
    max-width: 92%
  }
} 

nav {
  position: absolute;
  top: 1%;
  margin: 0 auto;
  width: 400px; 
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 450px) {
    max-width: 92%
  }
}


.top-container {
grid-area: msg;
width: 100%;
@extend .flex-ctr;
}

.game-container {
  grid-area: game;
  width: 100%;
  cursor: pointer;
}

.puzzle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.game-board {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(4, 1fr);
  margin: 5vmin 0;
  cursor: pointer;
}

.game-tile {
  height: 100%;
  width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 12px;
   cursor: pointer;
}

.empty-space {
  height: 50%;
  width: 50%;
  border: 1px solid $dark-scnd-white;
  border-radius: 6px;
  z-index: -99;
}

.color-tiles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  width: 100%;
  margin: 0 0 2vmin 0;
  cursor: pointer;
  gap: 4px;
}

.color-tile {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
 @extend .flex-ctr;

  &::before {
    content: '';
    height: 12px;
    width: 12px;
    background: $dark-scnd-white;
    border-radius: 4px;
    z-index: -99;
  }
  }

.user-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  svg {
    height: 20px;
    width: 20px;
    color: $dark-black
  }
}

.refresh-board {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: $dark-scnd-white;
  @extend .flex-ctr;
}

.grow-shrink {
  animation: grow-shrink 0.25s linear;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  gap: 8px;
}

.level-game {
  padding: 20px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
  border-radius: 500px;
 @extend .default-shadow;
 cursor: pointer;
}

.level-game:hover {
  @extend .hover-shadow
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

