@import 'globalVariables';

nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 12px;
    letter-spacing: .5px;

    @media only screen and (max-width: 450px) {
      width: 300px
    }

}



#game-container {
  width: 400px;
   @extend .absolute-center;
   

   @media only screen and (max-width: 450px) {
    width: 300px
  }
}

.game-container {
  display: flex;
  flex-direction: column;
}

#game-board {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  cursor: pointer;
  margin-top: 5vmin;
  @media only screen and (max-width: 450px) {
    height: 300px
  }
}

.game-tile {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  position: relative;
  background: none;
 
  

  &::before {
    content: "";
    height: 50%;
    width: 50%;

    @extend .absolute-center;
    border: 1px solid $dark-scnd-white;
    border-radius: 8px;
    z-index: -99;
  }

 
}

.color-tiles {
  display: grid;
  @extend .padding;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 45px;
  position: relative;
  cursor: pointer;
  margin-bottom: 8vmin;
}

.color-tile {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10%;
    width: 10%;
    border-radius: 2px;
    background: $dark-scnd-white;
    z-index: -33;
  }
}

.message {
  text-align: center;
 
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#reset {
  padding: 4vmin 12vmin;
  
  margin: 0 auto;
  border-radius: 500px;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-weight: bold;
  border-width: 1px;
  background: $dark-scnd-white
  
}