$dark-black: #1c1917;
$dark-white: #fafaf9;
$dark-scnd-white: #aba29e;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: $dark-black;
  margin: 0 auto;
  height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
}

.padding {
  max-width: 500px;
}

.container {
    width: 500px;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 500px;
  gap: 8px;
width: 100%;
}

.color-tile {
  height: 100%;
  width: 100%;
  border: 1px solid $dark-scnd-white;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
}
.color-tiles {
  display: grid;
  @extend .padding;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 45px;
  position: relative;

.color-tile {
    border: none;
    position: relative;

 &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10%;
    width: 10%;
    background: $dark-scnd-white;
    border-radius: 4px;
  }
}
}
