@import 'globalVariables';
@import 'game';
@import 'instructions';



* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: $dark-black;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Monserrat', sans-serif;
  color: $dark-scnd-white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
}

