.flex-ctr, .refresh-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.padding, .color-tiles {
  max-width: 500px;
}

.absolute-center, .empty-space {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-ctr, .refresh-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.padding, .color-tiles {
  max-width: 500px;
}

.absolute-center, .empty-space {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: #1c1917;
  margin: 0 auto;
  height: 90vh;
  font-family: "Monserrat", sans-serif;
  color: #aba29e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  body {
    justify-content: flex-end;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 0.5px;
  position: absolute;
  top: 3.5%;
  cursor: pointer;
}
@media only screen and (max-width: 450px) {
  nav {
    top: 5px;
    width: 300px;
  }
}

#game-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  #game-container {
    width: 300px;
    height: 70vh;
    justify-content: space-between;
  }
}

.puzzle-container {
  display: grid;
  height: 100%;
}
@media screen and (max-width: 430px) {
  .puzzle-container {
    height: 60%;
  }
}

#game-board {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
  place-items: center;
}
@media only screen and (max-width: 450px) {
  #game-board {
    height: 300px;
  }
}

.game-tile {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
  background: none;
}

.empty-space {
  height: 50%;
  width: 50%;
  border-radius: 4px;
  z-index: -99;
}

.color-tiles {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 45px;
  position: relative;
  cursor: pointer;
  place-items: center;
  gap: 4px;
  height: 25%;
}

.color-tile {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  aspect-ratio: 1/1;
  position: relative;
}
.color-tile::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%;
  width: 10%;
  border-radius: 2px;
  background: #aba29e;
  z-index: -33;
}

.message {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

#reset {
  padding: 4vmin 12vmin;
  margin: 0 auto;
  border-radius: 500px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: bold;
  border-width: 1px;
  background: #aba29e;
}

.user-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #aba29e;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  align-items: flex-end;
  flex-direction: row;
}

.refresh-board {
  background: #292524;
  border-radius: 100%;
  padding: 1vmin;
  cursor: pointer;
}
.refresh-board svg {
  height: 2vmin;
  width: 2vmin;
}
@media only screen and (max-width: 450px) {
  .refresh-board svg {
    height: 20px;
    width: 20px;
  }
}

.grow-shrink {
  animation: grow-shrink 0.25s linear;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
h3 {
  margin: 0px;
}

.level-game {
  padding: 20px;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-bottom: 20px;
}

.flex-ctr, .refresh-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.padding, .color-tiles {
  max-width: 500px;
}

.absolute-center, .empty-space {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: #1c1917;
  margin: 0 auto;
  height: 100vh;
  font-family: "Monserrat", sans-serif;
  color: #aba29e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  body {
    justify-content: center;
  }
}

.logo {
  margin: 30px auto;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  position: absolute;
  top: 5%;
}

h3 {
  margin: 30px auto;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 400px;
  margin: 0 auto;
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.direction {
  height: 20px;
  width: 20px;
  fill: #aba29e;
}

.img-container {
  height: 400px;
  width: 400px;
  display: grid;
  place-items: center;
}

.image {
  height: 90%;
  width: 90%;
}

#image-2, #image-3 {
  display: none;
}

.level-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.level-btn-container {
  width: 300px;
  margin: 0 auto;
}

.level {
  width: 100%;
  height: 65px;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #1c1917;
  margin: 10px auto;
}

#l2 {
  background: #FFC543;
}

#l3 {
  background: #8BAFA9;
}

#l4 {
  background: #B8B0D9;
}

#l5 {
  background: #FD7352;
}

.level:hover {
  box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.5), inset 4px 4px 6px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
}/*# sourceMappingURL=main.css.map */