.flex-ctr, .refresh-board, .color-tile, .top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.default-shadow, .level, .level-game {
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.5), inset -4px -4px 4px rgba(0, 0, 0, 0.5);
}

.hover-shadow, .level:hover, .level-game:hover {
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.5), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 16px;
}

.theme-toggle {
  width: 60px;
  height: 30px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.15), inset 4px 4px 4px rgba(0, 0, 0, 0.25), -3px -3px 6px rgba(255, 255, 255, 0.15), 3px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.theme-toggle::before {
  content: "";
  height: 100%;
  aspect-ratio: 1/1;
  background: #E96636;
  border-radius: 100%;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.5), inset -2px -2px 3px rgba(0, 0, 0, 0.5);
}

.flex-ctr, .refresh-board, .color-tile, .top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.default-shadow, .level, .level-game {
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.5), inset -4px -4px 4px rgba(0, 0, 0, 0.5);
}

.hover-shadow, .level:hover, .level-game:hover {
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.5), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 16px;
}

.theme-toggle {
  width: 60px;
  height: 30px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.15), inset 4px 4px 4px rgba(0, 0, 0, 0.25), -3px -3px 6px rgba(255, 255, 255, 0.15), 3px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.theme-toggle::before {
  content: "";
  height: 100%;
  aspect-ratio: 1/1;
  background: #E96636;
  border-radius: 100%;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.5), inset -2px -2px 3px rgba(0, 0, 0, 0.5);
}

body {
  background: #1c1917;
  margin: 0 auto;
  height: 100vh;
  font-family: "Monserrat", sans-serif;
  color: #aba29e;
  max-width: 400px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "nav" "msg" "game";
  grid-gap: 32px;
}
@media screen and (max-width: 450px) {
  body {
    max-width: 92%;
  }
}

nav {
  position: absolute;
  top: 1%;
  margin: 0 auto;
  width: 400px;
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  nav {
    max-width: 92%;
  }
}

.top-container {
  grid-area: msg;
  width: 100%;
}

.game-container {
  grid-area: game;
  width: 100%;
  cursor: pointer;
}

.puzzle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.game-board {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(4, 1fr);
  margin: 5vmin 0;
  cursor: pointer;
}

.game-tile {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}

.empty-space {
  height: 50%;
  width: 50%;
  border: 1px solid #aba29e;
  border-radius: 6px;
  z-index: -99;
}

.color-tiles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  width: 100%;
  margin: 0 0 2vmin 0;
  cursor: pointer;
  gap: 4px;
}

.color-tile {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.color-tile::before {
  content: "";
  height: 12px;
  width: 12px;
  background: #aba29e;
  border-radius: 4px;
  z-index: -99;
}
@media screen and (max-width: 430px) {
  .color-tile {
    max-height: 50px;
    max-width: 50px;
  }
}

.user-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.user-controls svg {
  height: 20px;
  width: 20px;
  color: #1c1917;
}

.refresh-board {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #aba29e;
}

.grow-shrink {
  animation: grow-shrink 0.25s linear;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  gap: 8px;
}

.level-game {
  padding: 20px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-radius: 500px;
  cursor: pointer;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.flex-ctr, .top-container, .color-tile, .refresh-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.default-shadow, .level, .level-game {
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.5), inset -4px -4px 4px rgba(0, 0, 0, 0.5);
}

.hover-shadow, .level:hover, .level-game:hover {
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.5), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 16px;
}

.theme-toggle {
  width: 60px;
  height: 30px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.15), inset 4px 4px 4px rgba(0, 0, 0, 0.25), -3px -3px 6px rgba(255, 255, 255, 0.15), 3px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.theme-toggle::before {
  content: "";
  height: 100%;
  aspect-ratio: 1/1;
  background: #E96636;
  border-radius: 100%;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.5), inset -2px -2px 3px rgba(0, 0, 0, 0.5);
}

body {
  background: #1c1917;
  margin: 0 auto;
  height: 100vh;
  font-family: "Monserrat", sans-serif;
  color: #aba29e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  body {
    justify-content: center;
  }
}

.logo {
  margin: 30px auto;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  position: absolute;
  top: 5%;
}

h3 {
  margin: 30px auto;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 400px;
  margin: 0 auto;
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.direction {
  height: 20px;
  width: 20px;
  fill: #aba29e;
}

.img-container {
  height: 400px;
  width: 400px;
  display: grid;
  place-items: center;
}

.image {
  height: 90%;
  width: 90%;
}

#image-2, #image-3 {
  display: none;
}

.level-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.level-btn-container {
  width: 300px;
  margin: 0 auto;
}

.level {
  width: 100%;
  height: 65px;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #1c1917;
  margin: 10px auto;
  cursor: pointer;
}
#l2 {
  background: #FFC543;
}

#l3 {
  background: #8BAFA9;
}

#l4 {
  background: #B8B0D9;
}

#l5 {
  background: #FD7352;
}

* {
  box-sizing: border-box;
  margin: 0;
}/*# sourceMappingURL=main.css.map */