.flex-ctr, .refresh-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.padding, .color-tiles {
  max-width: 500px;
}

.absolute-center, .game-tile::before, #game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-ctr, .refresh-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.padding, .color-tiles {
  max-width: 500px;
}

.absolute-center, .game-tile::before, #game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 450px) {
  nav {
    width: 300px;
  }
}

#game-container {
  width: 400px;
}
@media only screen and (max-width: 450px) {
  #game-container {
    width: 300px;
  }
}

.game-container {
  display: flex;
  flex-direction: column;
}

#game-board {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  cursor: pointer;
  place-items: center;
  margin-top: 5vmin;
}
@media only screen and (max-width: 450px) {
  #game-board {
    height: 300px;
  }
}

.game-tile {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  position: relative;
  background: none;
}
.game-tile::before {
  content: "";
  height: 50%;
  width: 50%;
  border: 1px solid #aba29e;
  border-radius: 8px;
  z-index: -99;
}

.color-tiles {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 45px;
  position: relative;
  cursor: pointer;
  place-items: center;
}

.color-tile {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1/1;
  position: relative;
}
.color-tile::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%;
  width: 10%;
  border-radius: 2px;
  background: #aba29e;
  z-index: -33;
}

.message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#reset {
  padding: 4vmin 12vmin;
  margin: 0 auto;
  border-radius: 500px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: bold;
  border-width: 1px;
  background: #aba29e;
}

.user-controls {
  display: flex;
  width: 400px;
  justify-content: space-between;
  color: #aba29e;
  margin: 1.5vmin 0 8vmin 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  align-items: flex-end;
}

.refresh-board {
  background: #292524;
  border-radius: 100%;
  padding: 1vmin;
  cursor: pointer;
}
.refresh-board svg {
  height: 2vmin;
  width: 2vmin;
}

.flex-ctr, .refresh-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.padding, .color-tiles {
  max-width: 500px;
}

.absolute-center, #game-container, .game-tile::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  margin: 30px auto;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: center;
}

h3 {
  margin: 30px auto;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 400px;
  margin: 0 auto;
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.direction {
  height: 20px;
  width: 20px;
  fill: #aba29e;
}

.img-container {
  height: 400px;
  width: 400px;
  display: grid;
  place-items: center;
}

.image {
  height: 90%;
  width: 90%;
}

#image-2, #image-3 {
  display: none;
}

.level-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.level-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5vmin;
}

.level {
  width: 100%;
  height: 65px;
  border-radius: 0.5vmin;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #1c1917;
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.25), 4px 4px 6px rgb(0, 0, 0);
}

#l2 {
  background: #FFC543;
}

#l3 {
  background: #8BAFA9;
}

#l4 {
  background: #B8B0D9;
}

#l5 {
  background: #FD7352;
}

.level:hover {
  box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.5), inset 4px 4px 6px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #1c1917;
  margin: 0 auto;
  height: 100vh;
  font-family: "Monserrat", sans-serif;
  color: #aba29e;
}/*# sourceMappingURL=main.css.map */